# ASDF files
**/*.asdf

# PDF files
**/*.pdf

# PNG files
**/*.png

# TXT files
**/*.txt

# Jupyter notebook checkpoints
**/.ipynb_checkpoints/
**/*-checkpoint.ipynb

# output files
sens_results*/
dz_to_dof_results/

# Josh's sensitivity_matrix code
sensitivity_matrix/